﻿@model BLL.App.DTO.Identity.AppUserEdit

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="Id" />
<div class="form-group">
    <label asp-for="Email" class="control-label"></label>
    <input asp-for="Email" class="form-control" type="email"/>
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="FirstName" class="control-label"></label>
    <input asp-for="FirstName" class="form-control" />
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="LastName" class="control-label"></label>
    <input asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PhoneNumber" class="control-label"></label>
    <input asp-for="PhoneNumber" class="form-control" />
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>
@* @if (User.IsInRole("Admin")) *@
@* { *@
@*     <div class="form-group"> *@
@*         <label asp-for="Address" class="control-label"></label> *@
@*         <input asp-for="Address" class="form-control"/> *@
@*         <span asp-validation-for="Address" class="text-danger"></span> *@
@*     </div> *@
@* } *@
