@model Domain.App.Identity.AppUser

@{
    ViewData["Title"] = "Create";
}

<h1>@Resources.CommonCrud.CreateNew</h1>
<h4>@Resources.BLL.App.DTO.AppUser.User</h4>

<hr />
@if (Model != null && Model.Email.Length > 0)
{
    <div>
        @Resources.Areas.Admin.Users.EmailTaken
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <partial name="_UserData" model="Model"/>
            <div class="form-group">
                <input type="submit" value="@Resources.CommonCrud.Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Resources.CommonCrud.BackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
