@model Domain.App.Identity.AppUser

@{
    ViewData["Title"] = "Delete";
}

<h1>@Resources.CommonCrud.Delete</h1>

<h3>@Resources.CommonCrud.DeleteAreYouSureMessage</h3>
<div>
    <h4>AppUser</h4>
    <hr />
    <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            @* <dt class = "col-sm-2"> *@
            @*     @Html.DisplayNameFor(model => model.Address) *@
            @* </dt> *@
            @* <dd class = "col-sm-10"> *@
            @*     @Html.DisplayFor(model => model.Address) *@
            @* </dd> *@
              <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ConcurrencyStamp)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ConcurrencyStamp)
            </dd>
        </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Resources.CommonCrud.Delete" class="btn btn-danger" /> |
        <a asp-action="Index">@Resources.CommonCrud.BackToList</a>
    </form>
</div>
