@model BLL.App.DTO.Identity.AppUserEdit

@{
    ViewData["Title"] = "Edit";
}

<h1>@Resources.CommonCrud.Edit</h1>

<h4>@Resources.BLL.App.DTO.AppUser.User</h4>
<hr />
<div class="container">
<div class="row">
    <div class="col-md">
        <form method="post">
            <partial name="_UserData" model="Model"/>
            <div class="form-group">
                <input type="submit" asp-action="Edit" value="@Resources.CommonCrud.Save" class="btn btn-primary">
            </div>
        </form>
    </div>
    <div class="col-md">
        @if (Model.CompanyId != null)
        {
            <form method="post">

                <div class="form-group">
                    <a asp-controller="Company" asp-action="Edit" asp-route-id="@Model.CompanyId">
                        @Model.CompanyName @Resources.Areas.Admin.Users.Company_sUser
                    </a>
                    @if (User.IsInRole("Admin"))
                    {
                        <input type="submit" asp-action="RemoveCompany" asp-route-id="@Model.Id"
                                class="btn btn-primary" value="@Resources.Areas.Admin.Users.RemoveCompany">
                    }
                </div>

            </form>
        }
        @if (Model.Roles != null)
        {
            if (Model.Roles.Contains("Admin"))
            {
                <form method="post">
                    <div class="form-group">
                        @Resources.Areas.Admin.Users.Admin
                        <input type="submit" class="btn-danger" value="@Resources.Areas.Admin.Users.RemoveRole"
                                asp-action="RemoveRole" asp-route-id="@Model.Id" asp-route-roleName="Admin">
                    </div>
                </form>
            }
            @if (Model.Roles.Contains("Company Admin"))
            {
                <form method="post">
                    <div class="form-group">
                        @Resources.Areas.Admin.Users.CompanyAdmin
                        <input type="submit" class="btn-danger"
                                value="@Resources.Areas.Admin.Users.RemoveRole"
                                asp-action="RemoveRole" asp-route-id="@Model.Id" asp-route-roleName="Company Admin">
                        
                    </div>
                </form>
            }
            @if (Model.CompanyId != null && !Model.Roles.Contains("Company Admin"))
            {
                <form method="post">
                    <div class="form-group">
                        <input type="submit" 
                            class="btn btn-primary" value="@Resources.Areas.Admin.Users.AddCompanyAdmin"
                            asp-action="AddRole" asp-route-roleName="Company Admin" asp-route-id="@Model.Id">
                        
                    </div>
                </form>
            }
            @if (Model.Roles.Contains("Restaurant Worker"))
            {
                <form method="post">
                    <div class="form-group">
                        @if (Model.WorkRestaurants != null)
                        {
                            <text>@Resources.Areas.Admin.Users.UserWorksIn: </text>
                            @foreach (var workRestaurant in Model.WorkRestaurants)
                            {
                                <div class="form-group">
                                    @workRestaurant.Name
                                    <input type="submit" 
                                        class="btn-danger"
                                        value="@Resources.Areas.Admin.Users.RemoveRestaurant"
                                        asp-route-restaurantId="@workRestaurant.Id"
                                        asp-action="RemoveAppUserFromRestaurant"
                                        asp-route-userId="@Model.Id">
                                    
                                </div>
                            }
                        }
                    </div>
                </form>
            }
            @if (Model.Roles.Contains("Restaurant Worker") && Model.WorkRestaurants != null)
            {
                <form method="post">
                    <div class="form-group">
                        <input type="submit" class="btn-danger"
                                value="@Resources.Areas.Admin.Users.RemoveAllRestaurants"
                                asp-action="RemoveRole" asp-route-id="@Model.Id"
                                asp-route-roleName="Restaurant Worker">
                        
                    </div>
                </form>
            }
        }
        @if (Model.AddableRestaurants is {Count: > 0 })
        {
            <form method="post">
                <div class="form-group">
                    <select name="restaurantId" id="restaurantId">
                        <option value="default">--Choose a Restaurant--</option>
                        @foreach (var restaurant in Model.AddableRestaurants)
                        {

                            <option value="@(restaurant.Id)">@restaurant.Name</option>
                        }
                    </select>
                    <input type="submit" 
                        class="btn btn-primary"
                        value="@Resources.Areas.Admin.Users.AddRestaurant"
                        asp-action="AddToRestaurant" asp-route-userId="@Model.Id">
                    
                </div>
            </form>
        }
        else if (User.IsInRole("Admin") && Model.CompanyId == null && (!Model.Roles?.Contains("Admin") ?? true))
        {
            <div class="form-group">
                <form method="post">
                    <select name="companyId" id="companyId">
                        <option value="default">@Resources.Areas.Admin.Users.ChooseACompany</option>
                        @foreach (var company in Model.AllCompanies!)
                        {
                            <option value="@(company.Id)">@company.Name</option>
                        }
                    </select>

                    <input type="submit" class="btn btn-primary"
                            value="@Resources.Areas.Admin.Users.AddToCompany"
                            asp-action="AddToCompany"
                            asp-route-userId="@Model.Id">
                </form>
            </div>
        }
        @if (User.IsInRole("Admin"))
        {
            @if (Model.Roles != null && !Model.Roles.Contains("Admin"))
            {
                <form method="post">
                    <div class="form-group">
                        <input type="submit" 
                            class="btn btn-primary" value="@Resources.Areas.Admin.Users.MakeAdmin"
                            asp-action="AddRole" asp-route-roleName="Admin" asp-route-id="@Model.Id">
                        
                    </div>
                </form>
            }
            
            <div class="form-group">
                @if (Model.LockoutEnd != null)
                {
                    <text>@Resources.Areas.Admin.Users.UserBannedUntil: @Model.LockoutEnd</text>
                    <form method="post">
                        <input type="submit" class="btn-danger"
                                value="@Resources.Areas.Admin.Users.UnBan"
                                asp-action="UnbanUser" asp-route-id="@Model.Id">
                        
                    </form>
                    <form method="post">
                        <label asp-for="LockoutEnd" class="control-label"></label>
                        <input asp-for="LockoutEnd" name="lockoutEnd" type="datetime-local">
                        <span asp-validation-for="LockoutEnd" class="text-danger"></span>
                        <input type="submit" 
                            class="btn-danger"
                            value="@Resources.Areas.Admin.Users.ChangeBan"
                            asp-action="BanUser" asp-route-id="@Model.Id"
                        >
                        
                    </form>
                }
                else
                {
                    <form method="post">
                        <label asp-for="LockoutEnd" class="control-label"></label>
                        <input asp-for="LockoutEnd" name="lockoutEnd" type="datetime-local">
                        <span asp-validation-for="LockoutEnd" class="text-danger"></span>
                        <input type="submit" 
                            class="btn-danger"
                            value="@Resources.Areas.Admin.Users.BanUser"
                            asp-action="BanUser" asp-route-id="@Model.Id">
                        
                    </form>
                }
            </div>
        }
    </div>
</div>
</div>
<div>
    <a asp-action="Index">@Resources.CommonCrud.BackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}