﻿@model IEnumerable<BLL.App.DTO.Identity.AppUserIndex>

<h1>
    @Resources.BLL.App.DTO.AppUser.Users
</h1>
<p>
    <a asp-action="Create">@Resources.CommonCrud.CreateNew</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkRestaurants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var appUser in Model) {
        <tr>
            <td>
                @Html.DisplayFor(user => appUser.FullName)
            </td>
            <td>
                @Html.DisplayFor(user => appUser.Email)
            </td>
            <td>
                @Html.DisplayFor(user => appUser.CompanyName)
            </td>
            <td>
                @if (appUser.WorkRestaurants != null)
                {
                    @foreach (var restaurant in appUser.WorkRestaurants)
                    {
                        @Html.DisplayFor(user => restaurant.Name)
                        <br>
                    }
                }
            </td>
            <td>
                @if (appUser.Roles != null)
                {
                    @foreach (var role in appUser.Roles)
                    {
                        @Html.DisplayFor(user => role)
                        <br>
                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@appUser.Id">@Resources.CommonCrud.Edit</a> |
                <a asp-action="Delete" asp-route-id="@appUser.Id">@Resources.CommonCrud.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>