@using BLL.App.DTO.Menu
@model BLL.App.DTO.Menu.MenuEdit


<h1>@Resources.CommonCrud.Edit</h1>

<h4>@Resources.BLL.App.DTO.Menu.MenuString</h4>
<hr />

<div class="row">
    <div class="col-md">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-action="Edit">
            <input type="hidden" asp-for="CompanyId">
            <input type="hidden" asp-for="Id"/>
            <div class="col-md">
                <label asp-for="Name" name="name" class="control-label"></label>
                <input asp-for="Name" name="name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-md">
                <input value="@Resources.CommonCrud.Save" type="submit" class="btn btn-primary"/>
                <a asp-action="Index">@Resources.CommonCrud.BackToList</a>
            </div>
        </form>
    </div>
       
    <div class="col-md">
        @if (Model.CompanyMenus != null)
        {
            <form asp-action="CopyOtherMenuItems">
                <input type="hidden" asp-for="CompanyId">
                <input type="hidden" asp-for="Id" name="currentMenuId"/>
                <div class="col-md">
                    <label for="otherMenuId">@Resources.Areas.Admin.Menu.CopyMenusItems</label>
                    <select id="otherMenuId" name="otherMenuId">
                        @foreach (var menu in Model.CompanyMenus)
                        {
                            <option value="@menu.Id">@menu.Name</option>
                        }
                    </select>
                </div>
                <div class="col-md">
                    <input value="@Resources.CommonCrud.Add" type="submit" class="btn btn-primary"/>
                </div>
            </form>
        }
    </div>
</div>
<hr>
<div class="row">
    <div class="col-4">
        @if(Model.MenuCategories != null){
            @for (var i = 0; i < Model.MenuCategories.Count; i++)
            {
                <div @Html.Raw(Model.CurrentCategory?.Id.Equals(Model.MenuCategories[i].Id) ?? false
                         ? "style='background-color: #EEEEED'"
                         : "")>
                    <a asp-action="Edit" asp-route-id="@Model.Id" asp-route-currentCategoryId="@Model.MenuCategories[i].Id">@Model.MenuCategories[i].Name</a>
                    <a asp-controller="MenuCategory" asp-action="Edit" asp-route-id="@Model.MenuCategories[i].Id"
                       asp-route-menuId="@Model.Id">@Resources.CommonCrud.Edit</a> |
                    <a asp-controller="MenuCategory" asp-action="Delete" asp-route-id="@Model.MenuCategories[i].Id"
                       asp-route-menuId="@Model.Id">@Resources.CommonCrud.Delete</a> 
                    <span @Html.Raw(i.Equals(0) ? "hidden='hidden'" : "")>
                        | 
                        <a asp-action="MoveCategory" asp-route-menuId="@Model.Id" asp-route-categoryId="@Model.MenuCategories[i].Id" asp-route-moveUp="true">
                            @Resources.CommonCrud.Up
                        </a>
                    </span>
                    <span @Html.Raw(i.Equals(Model.MenuCategories.Count - 1) ? "hidden='hidden'" : "")>
                        |
                        <a asp-action="MoveCategory" asp-route-menuId="@Model.Id" asp-route-categoryId="@Model.MenuCategories[i].Id" asp-route-moveUp="false">
                            @Resources.CommonCrud.Down
                        </a>
                    </span>
                </div>
            }
        }
        <hr>
        <div>
            <form method="post">
                <label asp-for="Name" >@Resources.BLL.App.DTO.MenuCategory.CategoryString @Resources.BLL.App.DTO.Common.Name</label>
                <br>
                <input asp-for="Name" value="">
                <input type="hidden" asp-for="Id" name="MenuId">
                <input type="submit" class="btn btn-primary" value="@Resources.CommonCrud.Create" 
                       asp-controller="MenuCategory" asp-action="Create"/>
            </form>
        </div>
        
    </div>
    <div class="col-8">
        @if (Model.MenuCategories!.Count> 0)
        {
            <div style="text-align: right">
                <a asp-controller="Product" asp-action="Create" asp-route-menuId="@Model.Id">@Resources.CommonCrud.CreateNew @Resources.BLL.App.DTO.Product.ProductString</a>
            </div>
        }
        @if (Model.CurrentCategory?.Products != null)
        {
            @for (var i = 0; i < Model.CurrentCategory.Products.Count; i++)
            {
                <div>
                    @Html.DisplayFor(x => Model.CurrentCategory.Products[i].Name)
                    <span @Html.Raw(i.Equals(0) ? "hidden='hidden'" : "")>
                        |
                        <a asp-controller="Product" asp-action="MoveProduct" asp-route-menuId="@Model.Id"
                           asp-route-productId="@Model.CurrentCategory.Products[i].Id" asp-route-moveUp="true">
                            @Resources.CommonCrud.Up
                        </a>
                    </span>
                    <span @Html.Raw(i.Equals(Model.CurrentCategory.Products.Count - 1) ? "hidden='hidden'" : "")>
                        |
                        <a asp-controller="Product" asp-action="MoveProduct" asp-route-menuId="@Model.Id"
                           asp-route-productId="@Model.CurrentCategory.Products[i].Id" asp-route-moveUp="false">
                            @Resources.CommonCrud.Down
                        </a>
                    </span>
                    |
                    <a asp-controller="Product" asp-action="Edit"
                       asp-route-id="@Model.CurrentCategory.Products[i].Id">@Resources.CommonCrud.Edit</a> |
                    <a asp-controller="Product" asp-action="Delete"
                       asp-route-id="@Model.CurrentCategory.Products[i].Id">@Resources.CommonCrud.Delete</a>

                    @Html.DisplayFor(x => Model.CurrentCategory.Products[i].Price)@Resources.CommonCrud.Currency
                    <dl class="row">
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => Model.CurrentCategory.Products[i].Picture)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => Model.CurrentCategory.Products[i].Picture)
                        </dd> 
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => Model.CurrentCategory.Products[i].IsAlwaysPurchasable)
                        </dt>
                        <dd class = "col-sm-10">
                            @(Model.CurrentCategory.Products[i].IsAlwaysPurchasable ? Resources.CommonCrud.Yes : Resources.CommonCrud.No)
                        </dd>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => Model.CurrentCategory.Products[i].Description)
                        </dd>
                    </dl>
                </div>
                <hr>
            }
        }
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}