@model IEnumerable<BLL.App.DTO.Menu.MenuIndex>

@{
    ViewData["Title"] = "Index";
}

<h1>@Resources.BLL.App.DTO.Menu.Menus</h1>

<p>
    <a asp-action="Create">@Resources.CommonCrud.CreateNew</a>
</p>
<table class="table">
    <thead>
    <tr>
    <th>
        @Html.DisplayNameFor(model => model.Name)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.CompanyName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.RestaurantsWithTheMenu)
    </th>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @if (item.RestaurantsWithTheMenu != null)
                {
                    @foreach (var restaurant in item.RestaurantsWithTheMenu)
                    {
                        @Html.DisplayFor(restaurant2 => restaurant.Name)
                        <br>
                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Resources.CommonCrud.Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Resources.CommonCrud.Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>