@using BLL.App.DTO.Menu
@model BLL.App.DTO.Restaurant.RestaurantEdit


<h1>@Resources.CommonCrud.Edit</h1>

<h4>@Resources.BLL.App.DTO.Restaurant.RestaurantString</h4>
<hr />
<div class="row">
<div class="col-md">
    <form asp-action="Edit">
        <input type="hidden" asp-for="CompanyId" >
        <input type="hidden" asp-for="Id"/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Picture" class="control-label"></label>
            <input asp-for="Picture" class="form-control"/>
            <span asp-validation-for="Picture" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IsPublic"/> 
                @Html.DisplayNameFor(model => model.IsPublic)
            </label>
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="form-group">
                <label asp-for="DateJoined" class="control-label"></label>
                <input asp-for="DateJoined" class="form-control"/>
                <span asp-validation-for="DateJoined" class="text-danger"></span>
            </div>

        }
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control"/>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control"/>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" class="form-control"/>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <input value="@Resources.CommonCrud.Save" type="submit" class="btn btn-primary"/>
    </form>
    <div>
        <a asp-action="Index">@Resources.CommonCrud.BackToList</a>
    </div>
    <h5>
        @Resources.BLL.App.DTO.Restaurant.OpeningTimes
    </h5>
    <div>
        @Resources.Areas.Admin.Restaurants.TimeFormat
    </div>
    <hr>
    <div class="text-danger" @(Model.ErrorMessage == null ? "hidden='hidden'" : "")>@(Model.ErrorMessage ?? "")</div>
    <form asp-action="SaveOpeningTimes">
        <input type="hidden" id="companyId" name="companyId" value="@Model.CompanyId">
        <input type="hidden" id="restaurantId" name="restaurantId" value="@Model.Id">
        <div class="form-group">
            @Resources.BLL.App.DTO.Time.Monday:
            <input 
                name="mondayOpen" type="text"
                
                value="@(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(1)) != null ?
                           Html.DisplayFor(x => Model.OpeningTimes.FirstOrDefault(t => t.DayOfWeek.Equals(1))!.StartingTime)
                           : "")" 
            /> -
            <input 
                name="mondayClose" type="text"
                value="@(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(1))?.EndingTime.ToString("HH:mm"))" 
            />
        </div>
        <div class="form-group">
            @Resources.BLL.App.DTO.Time.Tuesday:
            <input 
                name="tuesdayOpen" type="text"
                value="@(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(2))?.StartingTime.ToString("HH:mm"))"
            /> -
            <input 
                name="tuesdayClose" type="text"
                value="@(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(2))?.EndingTime.ToString("HH:mm"))" 
            />
        </div>
        <div class="form-group">
            @Resources.BLL.App.DTO.Time.Wednesday:
            <input 
                name="wednesdayOpen" type="text"                 
                value="@(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(3))?.StartingTime.ToString("HH:mm"))" 
            /> -
            <input 
                name="wednesdayClose" type="text"
                value="@(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(3))?.EndingTime.ToString("HH:mm"))" 
            />
        </div>
        <div class="form-group">
            @Resources.BLL.App.DTO.Time.Thursday:
            <input 
                name="thursdayOpen" type="text"                  
                value="@(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(4))?.StartingTime.ToString("HH:mm"))" 
            /> -
            <input 
                name="thursdayClose" type="text"
                value="@(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(4))?.EndingTime.ToString("HH:mm"))" 
            />
        </div>
        <div class="form-group">
            @Resources.BLL.App.DTO.Time.Friday:
            <input 
                name="fridayOpen" type="text"               
                value="@(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(5))?.StartingTime.ToString("HH:mm"))" 
            /> -
            <input 
                name="fridayClose" type="text"
                value="@(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(5))?.EndingTime.ToString("HH:mm"))" 
            />
        </div>
        <div class="form-group">
            @Resources.BLL.App.DTO.Time.Saturday:
            <input
                name="saturdayOpen" type="text"
                value="@(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(6))?.StartingTime.ToString("HH:mm"))" 
            /> -
            <input 
                name="saturdayClose" type="text"
                value="@(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(6))?.EndingTime.ToString("HH:mm"))" 
            />
        </div>
        <div class="form-group">
            @Resources.BLL.App.DTO.Time.Sunday:
            <input 
                name="sundayOpen" type="text"
                value="@(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(0))?.StartingTime.ToString("HH:mm"))" 
            /> -
            <input 
                name="sundayClose" type="text"
                value="@(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(0))?.EndingTime.ToString("HH:mm"))" 
            />
        </div>
        <input value="@Resources.CommonCrud.Save" type="submit" class="btn btn-primary"/>
    </form>
</div>
<div class="col-md">
    <form method="post">
        <div class="form-group">
            <div class="form-group">
                @Resources.BLL.App.DTO.Company.CompanyString
                <a asp-controller="Company" asp-action="Edit" asp-route-id="@Model.CompanyId"
                >@Model.CompanyName</a>
            </div>                
            @Resources.Areas.Admin.Common.RestaurantWorkers:
            @if (Model.Workers != null)
            {
                @foreach (var restaurantWorker in Model.Workers)
                {
                    <div class="form-group">
                        <a asp-controller="User" asp-action="" asp-route-id="@restaurantWorker.Id">
                            @restaurantWorker.FullName 
                        </a>
                        <input class="btn btn-primary" asp-controller="Users" asp-action="RemoveAppUserFromRestaurant"
                               asp-route-id="@restaurantWorker.Id"
                               asp-route-restaurantId="@Model.Id"
                               asp-route-rerouteToRestaurant="true"
                               value="@Resources.CommonCrud.Remove">
                    </div>
                }
            }
        </div>
    </form>
    <hr>
    <div>
        @Resources.BLL.App.DTO.Menu.Menus: 
        @if (Model.RestaurantMenus != null)
        {
            <div>
                @foreach (var menu in Model.RestaurantMenus)
                {
                    <form>
                        <div class="form-group">
                            <a asp-controller="Menu" asp-action="Edit" asp-route-id="@menu.Id">@menu.Name</a>
                            <input type="hidden" name="MenuId" value="@menu.Id">
                            <input type="hidden" name="RestaurantId" value="@Model.Id">
                            <input class="btn btn-danger" type="submit" asp-action="RemoveMenu" value="@Resources.CommonCrud.Remove">
                        </div>
                    </form>
                }
            </div>
        }
        <hr>
        @if (Model.CompanyMenus!= null && Model.CompanyMenus.Count > 0 )
        {
            
            <form method="post">
                <div class="form-group">
                    <select  id="MenuId" name="MenuId" class="form-control" 
                             asp-items="@(new SelectList(Model.CompanyMenus, nameof(MenuOnlyName.Id),
                                            nameof(MenuOnlyName.Name)))">
                    </select>
                    <input class="btn btn-primary" type="submit" asp-action="AddMenu"
                           value="@Resources.Areas.Admin.Restaurants.AddMenu" asp-route-RestaurantId="@Model.Id">
                </div>
            </form>
        }
    </div>
</div>
</div>

<div>
    <a asp-action="Index">@Resources.CommonCrud.BackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}