﻿@using com.akaver.Base.Resources.Areas.Identity.Pages.Account.Manage
@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string) parentLayout;
    }
    else
    {
        //Layout = "/Areas/Identity/Pages/_Layout.cshtml";
        Layout = "/Views/Shared/_Layout.cshtml";
    }
}

<h2>@_Layout.Manage_your_account</h2>

<div>
    <h4>@_Layout.Change_your_account_settings</h4>
    <hr/>
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav"/>
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}