﻿@page
@using com.akaver.Base.Resources.Areas.Identity.Pages.Account.Manage
@model ChangePasswordModel
@{
    ViewData["Title"] = ChangePassword.ChangePass;
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
<div class="d-flex align-items-center">
    <h4>@ChangePassword.ChangePass</h4>
    <p class="ml-2 mt-2 fa fa-info-circle fa-lg tip" data-tip="password-tooltip"></p>
</div>

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.OldPassword">@ChangePassword.OldPassword</label>
                <input asp-for="Input.OldPassword" class="form-control" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPassword">@ChangePassword.NewPassword</label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">@ChangePassword.ConfirmPassword</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@ChangePassword.UpdatePassword</button>
        </form>
    </div>
</div>

@if (Model.PasswordRequirements != null)
        {
            <div id="password-tooltip" class="d-none">
                <partial name="_PasswordRequirementsTooltip" model="Model.PasswordRequirements"/>
            </div>
        }

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
    $(function () {        
        $('.tip').each(function (){
          $(this).tooltip({
            html: true,
            title: $('#' + $(this).data('tip')).html(),
            placement: 'top'
          });     
        });
    })
    </script>
}