﻿@page
@using com.akaver.Base.Resources.Areas.Identity.Pages.Account.Manage
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = EnableAuthenticator.ConfigureAuthenticatorApp;
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div>
    <p>@EnableAuthenticator.ToUseAuthenticatorApp</p>
    <ol class="list">
        <li>
            <p>
                @Html.Raw(EnableAuthenticator.HowToGetAuthenticatorApp)
            </p>
        </li>
        <li>
            <p>@EnableAuthenticator.ScanTheQRCode <kbd>@Model.SharedKey</kbd>@EnableAuthenticator.IntoAuthenticatorApp</p>
            <div class="alert alert-info">@Html.Raw(EnableAuthenticator.LearnHowTo)</div>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
        </li>
        <li>
            <p>
                @EnableAuthenticator.OnceYouHaveScanned
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-group">
                            <label asp-for="Input.Code" class="control-label">@EnableAuthenticator.VerificationCode</label>
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">@EnableAuthenticator.Verify</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
