﻿@page
@using com.akaver.Base.Resources.Areas.Identity.Pages.Account.Manage
@model PersonalDataModel
@{
    ViewData["Title"] = PersonalData.PersonalDataTitle;
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>@PersonalData.YourAccountContainsPersonalData</p>
        <p>
            <strong>@PersonalData.DeletingThisData</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">@PersonalData.Download</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary">@PersonalData.Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
