﻿@page
@using com.akaver.Base.Resources.Areas.Identity.Pages.Account.Manage
@model SetPasswordModel
@{
    ViewData["Title"] = SetPassword.SetPasswordTitle;
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4>@SetPassword.SetYourPassword</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<p class="text-info">
    @SetPassword.NoLocalUserOnThisSite
</p>
<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.NewPassword">@SetPassword.NewPassword</label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">@SetPassword.ConfirmPassword</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@SetPassword.SetPasswordSubmit</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}