﻿@page
@using com.akaver.Base.Resources.Areas.Identity.Pages.Account.Manage
@model ShowRecoveryCodesModel
@{
    ViewData["Title"] = ShowRecoveryCodes.RecoveryCodesTitle;
    ViewData["ActivePage"] = "TwoFactorAuthentication";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <strong>@ShowRecoveryCodes.PutTheseCodesInSafePlace</strong>
    </p>
    <p>
        @ShowRecoveryCodes.IfYouLoseYourDeviceOrRecoveryCodes
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        @for (var row = 0; row < (Model?.RecoveryCodes?.Length ?? 0); row += 2)
        {
            <code class="recovery-code">@Model?.RecoveryCodes?[row]</code><text>&nbsp;</text><code class="recovery-code">@Model?.RecoveryCodes?[row + 1]</code><br />
        }
    </div>
</div>