﻿@using BLL.App.DTO.Archive
@using Domain.App
@model List<BLL.App.DTO.Archive.ArchivedOrderClient>

<h4>@Resources.Views.Shared._Layout.ActiveOrders</h4>
<hr>
<div class="container">
  
    @foreach (var order in Model)
    {
        <a asp-controller="Restaurants" asp-action="Restaurant" asp-route-id="@order.RestaurantId">
            <h5>@order.RestaurantName</h5>
        </a>
        <div style="background-color: #1e7e34" @Html.Raw(order.IsReady ? "" : "hidden='hidden'")>
            @Resources.Views.Order.Index.OrderIsReady
        </div>
        <div>

            @Html.DisplayNameFor(x => order.SubmitTime):
            @order.SubmitTime.ToString("HH:mm")
            |
            @Html.DisplayNameFor(x => order.CompletedBy):
            @order.CompletedBy.ToString("HH:mm")
        </div>
        @foreach (var product in order.ProductsInOrder)
        {
            <div>
                <h6>@Html.DisplayFor(x => product.Name)</h6>
                @for (var i = 0; i < product.SubProducts?.Count; i++)
                {
                    var subProduct = product.SubProducts[i];

                    <div>
                        @if (i == 0 || product.SubProducts[i - 1].SubCategoryName != subProduct.SubCategoryName)
                        {
                            <div>
                                <h6>@Html.DisplayFor(x => subProduct.SubCategoryName):</h6>
                            </div>

                        }
                        @Html.DisplayFor(x => subProduct.Name)
                        @if (subProduct.Price != 0)
                        {
                            <text> - @Html.DisplayFor(x => subProduct.Price)@Resources.CommonCrud.Currency</text>
                        }
                    </div>
                }
                <div style="text-align: right">

                    <div>
                        @Html.DisplayNameFor(x => product.OneProductPrice):
                        @Html.DisplayFor(x => product.OneProductPrice)@Resources.CommonCrud.Currency
                    </div>
                    <div>
                        @Html.DisplayNameFor(x => product.Amount):
                        @Html.DisplayFor(x => product.Amount)
                    </div>
                </div>
            </div>
            <hr>
        }
        <div @Html.Raw(order.CustomerComment == null ? "hidden='hidden'" : "")>
            @Html.DisplayNameFor(x => order.CustomerComment):
            <br>
            @Html.DisplayFor(x => order.CustomerComment)
        </div>
        <div>
            <form method="post">
                @Html.DisplayNameFor(x => order.OrderRating)
                <label for="1">1</label>
                <input type="radio" name="rating" id="1" value="1" @Html.Raw(order.OrderRating == 1 ? "checked='checked'" : "")>
                <label for="2">2</label>
                <input type="radio" name="rating" id="2" value="2" @Html.Raw(order.OrderRating == 2 ? "checked='checked'" : "")>
                <label for="3">3</label>
                <input type="radio" name="rating" id="3" value="3" @Html.Raw(order.OrderRating == 3 ? "checked='checked'" : "")>
                <label for="4">4</label>
                <input type="radio" name="rating" id="4" value="4" @Html.Raw(order.OrderRating == 4 ? "checked='checked'" : "")>
                <label for="5">5</label>
                <input type="radio" name="rating" id="5" value="5" @Html.Raw(order.OrderRating == 5 ? "checked='checked'" : "")>
                <br>
                <input type="submit" class="btn btn-primary" value="@Resources.CommonCrud.Save" 
                       asp-action="AddRatingToOrder" asp-route-orderId="@order.Id">
            </form>
        </div>
        <div>
            <form method="post">
                <label for="comment">@Html.DisplayNameFor(x => order.CustomerOrderReviewComment):</label>
                <textarea id="comment" name="comment" rows="4" cols="50">@order.CustomerOrderReviewComment</textarea>
                <input type="submit" class="btn btn-primary" value="@Resources.CommonCrud.Save" 
                       asp-action="AddCommentToArchivedOrder" asp-route-orderId="@order.Id">
            </form>
        </div>
          
        <div style="text-align: right">
            @if (order.AmountPaid < order.FoodCost)
            {
                <div>@Resources.Views.Order.Index.PayInRestaurant</div>
            }
            @Resources.CommonCrud.OrderTotalCost:
            @Html.DisplayFor(x => order.FoodCost)@Resources.CommonCrud.Currency
        </div>
        <hr>
    }
</div>