﻿@using BLL.App.DTO.Order
@model List<BLL.App.DTO.Order.OrderClient>

<h4>@Resources.Views.Shared._Layout.ActiveOrders</h4>
<hr>
<div class="container">
  
    @foreach (var order in Model ?? new List<OrderClient>())
    {
        <a asp-controller="Restaurants" asp-action="Restaurant" asp-route-id="@order.RestaurantId">
            <h5>@order.RestaurantName</h5>
        </a>
        <div style="background-color: #1e7e34" @Html.Raw(order.IsReady ? "" : "hidden='hidden'")>
            @Resources.Views.Order.Index.OrderIsReady
        </div>
        <div>

            @Html.DisplayNameFor(x => order.SubmitTime):
            @order.SubmitTime.ToString("HH:mm")
            |
            @Html.DisplayNameFor(x => order.CompletedBy):
            @order.CompletedBy.ToString("HH:mm")
        </div>
        @foreach (var product in order.ProductsInOrder)
        {
            <div>
                <h6>@Html.DisplayFor(x => product.Name)</h6>
                @for (var i = 0; i < product.SubProducts?.Count; i++)
                {
                    var subProduct = product.SubProducts[i];

                    <div>
                        @if (i == 0 || product.SubProducts[i - 1].SubCategoryName != subProduct.SubCategoryName)
                        {
                            <div>
                                <h6>@Html.DisplayFor(x => subProduct.SubCategoryName):</h6>
                            </div>
                        }
                           
                        @Html.DisplayFor(x => subProduct.Name)
                        @if (subProduct.Price != 0)
                        {
                            <text> - @Html.DisplayFor(x => subProduct.Price)@Resources.CommonCrud.Currency</text>
                        }
                    </div>
                }
                <div style="text-align: right">
                    <div>
                        @Html.DisplayNameFor(x => product.OneProductPrice):
                        @Html.DisplayFor(x => product.OneProductPrice)@Resources.CommonCrud.Currency
                    </div>
                    <div>
                        @Html.DisplayNameFor(x => product.Amount):
                        @Html.DisplayFor(x => product.Amount)
                    </div>
                </div>
            </div>
            <hr>
        }
        <div @Html.Raw(order.CustomerComment == null ? "hidden='hidden'" : "")>
            @Html.DisplayNameFor(x => order.CustomerComment):
            <br>
            @Html.DisplayFor(x => order.CustomerComment)
        </div>
        <div style="text-align: right">
            @if (order.AmountPaid < order.FoodCost)
            {
                <div>@Resources.Views.Order.Index.PayInRestaurant</div>
            }
            @Resources.CommonCrud.OrderTotalCost:
            @Html.DisplayFor(x => order.FoodCost)@Resources.CommonCrud.Currency
        </div>
        <hr>
    }
</div>