﻿@model BLL.App.DTO.Restaurant.RestaurantClientAllLists

<div class="container">
    <h5 @Html.Raw(!Model.UserFavoriteRestaurants?.Any() ?? true ? "hidden='hidden'" : "")>
        @Resources.Views.Restaurants.Index.Favorites:
    </h5>
    @for (var i = 0; i < (Model.UserFavoriteRestaurants?.Count / 3 + 1 ?? 0); i++)
    {

        <div class="row">
            @for (var j = 0; j < 3; j++)
            {
                if (i * 3 + j > Model.UserFavoriteRestaurants!.Count - 1)
                {
                    break;
                }

                var restaurant = Model.UserFavoriteRestaurants[i * 3 + j];
                <div class="col col-4">
                    @restaurant.Picture
                    <br>
                    <a asp-action="Restaurant" asp-route-id="@restaurant.Id">@restaurant.Name</a>
                    <br>
                    @Resources.Views.Restaurants.Index.Today @restaurant.OpeningTimes.StartingTime.ToString("HH:mm")
                    - @restaurant.OpeningTimes.EndingTime.ToString("HH:mm")
                </div>
            }
        </div>
        <br>
    }
    <hr @Html.Raw(!Model.UserFavoriteRestaurants?.Any() ?? true ? "hidden='hidden'" : "")>
    <h5>@Resources.Views.Restaurants.Index.Restaurants:</h5>
    @for (var i = 0; i < Model.AllRestaurants.Count / 3 + 1; i++)
    {
        <div class="row">
            @for (var j = 0; j < 3; j++)
            {
                if (i * 3 + j > Model.AllRestaurants.Count - 1)
                {
                    break;
                }
                var restaurant = Model.AllRestaurants[i * 3 + j];
                <div class="col col-4">
                    @restaurant.Picture
                    <br>
                    <a asp-action="Restaurant" asp-route-id="@restaurant.Id">@restaurant.Name</a>
                    <br>
                    @Resources.Views.Restaurants.Index.Today @restaurant.OpeningTimes.StartingTime.ToString("HH:mm")
                    - @restaurant.OpeningTimes.EndingTime.ToString("HH:mm")
                </div>
            }
        </div>
        <br>
    }
</div>