﻿@using BLL.App.DTO.Product
@model BLL.App.DTO.Product.ProductClient

<div class="container">
    <h5>
        @Html.DisplayFor(x => Model.Name)
    </h5>
    <div class="form-group">
        <label asp-for="Picture" class="control-label"></label>
        @Html.DisplayFor(x => Model.Picture)
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>:
        @Html.DisplayFor(x => Model.Price)@Resources.CommonCrud.Currency
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>:
        @Html.DisplayFor(x => Model.Description)
    </div>
    <form method="post">
        <input type="hidden" name="productId" value="@Model.Id">
        <input type="hidden" name="restaurantId" value="@Model.RestaurantId">
        <div>
            @for (var i = 0; i < Model.ProductsSubCategories?.Count; i++)
            {
                var subCategory = Model.ProductsSubCategories[i];
                <div>
                    <h6>@Html.DisplayFor(x => subCategory.Name)</h6>
                    @if (subCategory.MaxItemCount > 1 && subCategory.SubCategoryProducts?.Count != subCategory.MaxItemCount)
                    {
                        <div>
                            @Resources.Views.Restaurants.Product.MaxItemCount: @subCategory.MaxItemCount
                        </div>
                    }
                    @for (var j = 0; j < subCategory.SubCategoryProducts?.Count; j++)
                    {
                        var subProduct = subCategory.SubCategoryProducts[j];
                        <div>
                            @Html.DisplayFor(x => subProduct.Name)
                            @if (subProduct.Price != 0)
                            {
                                @Html.DisplayFor(x => subProduct.Price)@Resources.CommonCrud.Currency
                            }
                            @if (subCategory.MaxItemCount == 1)
                            {
                                <input type="radio" name="subCategory@(i)" value="@subProduct.Id" @Html.Raw(subProduct.IsSelectedOnDefault ? "checked='checked'" : "")>
                            }
                            else
                            {
                               
                                <input type="checkbox" name="subCategory@(i)" value="@subProduct.Id" @Html.Raw(subProduct.IsSelectedOnDefault ? "checked='checked'" : "")>
                            }
                        </div>
                    }
                </div>
            }
        </div>
        <hr>
        <div>
            <label for="amount">@Resources.Views.Restaurants.Product.Amount</label>
            <input type="number" min="1" value="1" name="amount" id="amount">
        </div>
        <input type="submit" class="btn btn-primary" value="@Resources.Views.Restaurants.Product.AddToOrder" asp-action="AddProductToOrder">
    </form>
    <a asp-action="Restaurant" asp-route-id="@Model.RestaurantId">@Resources.CommonCrud.BackToMenu</a>
</div>