﻿@using Extensions.Base
@using Microsoft.AspNetCore.Identity
@using Domain.App.Identity
@model BLL.App.DTO.Restaurant.RestaurantClient
@inject SignInManager<AppUser> _signInManager
@inject UserManager<AppUser> _userManager

<div class="container">
    <div>
        <h3>@Model.Name</h3>
        <div @Html.Raw(_signInManager.IsSignedIn(User) ? "" : "hidden='hidden'")>
            <div @Html.Raw(User.DoesUserHaveRoles() || await User.IsRestaurantAddedToUserFavorites(_userManager, Model.Id) 
                     ? "hidden='hidden'" : "") style="text-align: right">
                <form method="post">
                    <input asp-action="AddRestaurantToUserFavorites" class="btn btn-primary" type="submit" asp-route-id="@Model.Id"
                           value="@Resources.Views.Restaurants.Restaurant.AddRestaurantToFavorites"/>
                </form>
            </div>
            <div @Html.Raw(await User.IsRestaurantAddedToUserFavorites(_userManager, Model.Id) ? "" : "hidden='hidden'") style="text-align: right">
                <form method="post">
                    <input asp-action="RemoveRestaurantFromUserFavorites" class="btn btn-primary" type="submit" asp-route-id="@Model.Id"
                           value="@Resources.Views.Restaurants.Restaurant.RemoveRestaurantFromFavorites"/>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
    <hr>
        <div class="col-2">
            @foreach (var menu in Model.Menus!)
            {
                foreach (var menuCategory in menu.MenuCategories!)
                {
                    <div @Html.Raw(menu.CurrentCategory?.Id.Equals(menuCategory.Id) ?? false
                             ? "style='background-color: #EEEEED'"
                             : "")>
                        <a asp-action="Restaurant" asp-route-id="@Model.Id" asp-route-currentCategoryPosition="@menuCategory.Position">
                            @menuCategory.Name
                        </a>
                    </div>
                }
            }
        </div>
        <div class="col-7">
            @foreach (var menu in Model.Menus)
            {
                @if (menu.CurrentCategory != null)
                {
                    @foreach (var product in menu.CurrentCategory.Products!)
                    {
                        <div>
                            <h6>
                                <a asp-action="Product" asp-route-restaurantId="@Model.Id" asp-route-productId="@product.Id">@Html.DisplayFor(x => product.Name)</a>
                            </h6>
                            @Html.DisplayFor(x => product.Price)@Resources.CommonCrud.Currency
                            <br>
                            @Html.DisplayFor(x => product.Description)
                        </div>
                        <hr>
                    }
                }
            }
        </div>
        <div class="col-3">
            <h6>
                @Resources.BLL.App.DTO.Restaurant.OpeningTimes:
            </h6>
            <div class="form-group">
                @Resources.BLL.App.DTO.Time.Monday:

                @(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(1))?.StartingTime.ToString("HH:mm"))
                -
                @(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(1))?.EndingTime.ToString("HH:mm"))
            </div>
            <div class="form-group">
                @Resources.BLL.App.DTO.Time.Tuesday:

                @(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(2))?.StartingTime.ToString("HH:mm"))
                -
                @(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(2))?.EndingTime.ToString("HH:mm"))
            </div>
            <div class="form-group">
                @Resources.BLL.App.DTO.Time.Wednesday:

                @(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(3))?.StartingTime.ToString("HH:mm"))
                -
                @(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(3))?.EndingTime.ToString("HH:mm"))
            </div>
            <div class="form-group">
                @Resources.BLL.App.DTO.Time.Thursday:

                @(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(4))?.StartingTime.ToString("HH:mm"))
                -
                @(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(4))?.EndingTime.ToString("HH:mm"))
            </div>
            <div class="form-group">
                @Resources.BLL.App.DTO.Time.Friday:

                @(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(5))?.StartingTime.ToString("HH:mm"))
                -
                @(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(5))?.EndingTime.ToString("HH:mm"))
            </div>
            <div class="form-group">
                @Resources.BLL.App.DTO.Time.Saturday:

                @(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(6))?.StartingTime.ToString("HH:mm"))
                -
                @(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(6))?.EndingTime.ToString("HH:mm"))
            </div>
            <div class="form-group">
                @Resources.BLL.App.DTO.Time.Sunday:

                @(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(0))?.StartingTime.ToString("HH:mm"))
                -
                @(Model.OpeningTimes?.FirstOrDefault(t => t.DayOfWeek.Equals(0))?.EndingTime.ToString("HH:mm"))
            </div>
            <hr>
            <div>
                <h6>@Resources.Views.Restaurants.Restaurant.ContactInfo:</h6>
                <div>
                    @Resources.BLL.App.DTO.Common.PhoneNumber: 

                    @Model.PhoneNumber
                </div>
                <div>
                    @Resources.BLL.App.DTO.Common.Email: 
                    @Model.Email
                </div>
                <div>
                    @Resources.BLL.App.DTO.Common.Address: 
                    @Model.Address
                </div>
            </div>
            <hr>
            <div>
                <h6>@Resources.Views.Restaurants.Restaurant.AboutRestaurant:</h6>
                @Model.Description
            </div>
        </div>
    </div>
</div>