@model BLL.App.DTO.Company

@{
    ViewData["Title"] = "Edit";
}

<h1>@Resources.CommonCrud.Edit</h1>

<h4>@Resources.BLL.App.DTO.Company.CompanyString</h4>
<hr />
<div class="row">
    <div class="col-md">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateJoined" class="control-label"></label>
                <input asp-for="DateJoined" class="form-control" />
                <span asp-validation-for="DateJoined" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Website" class="control-label"></label>
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="@Resources.CommonCrud.Save" class="btn btn-primary" />
            </div>
        </form>
    </div>


    <div class="col-md">
        <div class="form-group">
            <div class="form-group">@Resources.Areas.Admin.Common.CompanyAdmins:</div>
            @if(Model.CompanyUsers != null){
                <form method="post">
                    @foreach (var companyUser in Model.CompanyUsers)
                    {
                        if (companyUser.IsCompanyAdmin)
                        {
                            <div class="form-group">
                                <a asp-controller="User" asp-action="Edit" asp-route-id="@companyUser.Id">
                                    @companyUser.FullName
                                </a>
                                <input  type="submit" class="btn btn-primary" asp-controller="Users" asp-action="RemoveRole" asp-route-roleName="Company Admin" 
                                       asp-route-id="@companyUser.Id"
                                       asp-route-companyId="@Model.Id" asp-route-rerouteToCompany="true"
                                       value="@Resources.CommonCrud.Remove">
                            </div>   
                        }
                    }
                </form>
            }
        </div>

        <div class="form-group">
            <div class="form-group">@Resources.BLL.App.DTO.Restaurant.Restaurants</div>
            @if (Model.Restaurants != null)
            {
                <form method="post">
                    @foreach (var restaurant in Model.Restaurants!)
                    {

                        <div class="form-group">
                            <a asp-controller="Company" asp-action="Edit" asp-route-id="@restaurant.Id">@restaurant.Name</a>
                        </div>
                        <div class="form-group">
                            @Resources.Areas.Admin.Common.RestaurantWorkers:
                            @if (Model.CompanyUsers != null)
                            {
                                @foreach (var companyUser in Model.CompanyUsers)
                                {
                                    if (companyUser.WorkRestaurantIds != null && companyUser.WorkRestaurantIds.Contains(restaurant.Id))
                                    {
                                        <div class="form-group">
                                            <a asp-controller="User" asp-action="Edit" asp-route-id="@companyUser.Id">
                                                @companyUser.FullName
                                            </a>
                                            <input 
                                                type="submit"
                                                class="btn btn-primary" asp-controller="Users" 
                                                asp-action="RemoveAppUserFromRestaurant" 
                                                asp-route-userId="@companyUser.Id"
                                                asp-route-restaurantId="@restaurant.Id"
                                                asp-route-rerouteToCompany="true"
                                                value="@Resources.CommonCrud.Remove">
                                        </div>   
                                    }
                                }
                            }
                        </div>
                    }
                </form>
            }
        </div>

    </div>
</div>
@if (User.IsInRole("Admin"))
{
    <div>
        <a asp-action="Index">@Resources.CommonCrud.BackToList</a>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}