@model IEnumerable<BLL.App.DTO.Company>

@{
    ViewData["Title"] = "Index";
}

<h1>@Resources.BLL.App.DTO.Company.Companies</h1>

<p>
    <a asp-action="Create">@Resources.CommonCrud.CreateNew</a> 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateJoined)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateJoined)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Resources.CommonCrud.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Resources.CommonCrud.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Resources.CommonCrud.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
