﻿@model BLL.App.DTO.Order.OrderClient

<h4>@Resources.Views.Basket.Index.Basket</h4>

@if (Model == null)
{
    <h5>@Resources.Views.Basket.Index.BasketIsEmpty</h5>   
}

else
{
    <hr>
    <div class="container">
        <a asp-controller="Restaurants" asp-action="Restaurant" asp-route-id="@Model.RestaurantId">
            <h5>@Model.RestaurantName</h5>
        </a>
        @foreach (var product in Model.ProductsInOrder)
        {
            <div>
                <div style="text-align: right">
                    <form method="post">
                        <input class="btn btn-primary" type="submit" asp-action="RemoveProductFromOrder" 
                               asp-route-productInOrderId="@product.Id" value="@Resources.CommonCrud.Remove">
                    </form>
                </div>
                <h6><a asp-controller="Restaurants" asp-action="Product" asp-route-restaurantId="@Model.RestaurantId" asp-route-productId="@product.Id">
                    @Html.DisplayFor(x => product.Name)
                </a></h6>
                @for (var i = 0; i < product.SubProducts?.Count; i++)
                {
                    var subProduct = product.SubProducts[i];
                    <div>
                        @if (i == 0 || product.SubProducts[i - 1].SubCategoryName != subProduct.SubCategoryName)
                        {
                            <div>
                                <h6>@Html.DisplayFor(x => subProduct.SubCategoryName):</h6>
                            </div>
                        }
                        @Html.DisplayFor(x => subProduct.Name)
                        @if (subProduct.Price != 0)
                        {
                            <text> - @Html.DisplayFor(x => subProduct.Price)@Resources.CommonCrud.Currency</text>
                        }
                    </div>
                }
                <div style="text-align: right">
                    <div>
                        @Html.DisplayNameFor(x => product.OneProductPrice):
                        @Html.DisplayFor(x => product.OneProductPrice)@Resources.CommonCrud.Currency
                    </div>
                    <div>
                        <form method="post">
                            <label for="newAmount">@Html.DisplayNameFor(x => product.Amount):</label>
                            <input type="text" id="newAmount" name="newAmount" value="@product.Amount">
                            <input class="btn btn-primary" type="submit" asp-action="ChangeProductAmountInOrder"
                                   asp-route-productInOrderId="@product.Id" value="@Resources.CommonCrud.Save">
                        </form>
                    </div>
                </div>
            </div>
            <hr>
        }
        <div>
            <form method="post">
                <label asp-for="@Model.CustomerComment"></label>:
                <br>
                <textarea asp-for="@Model.CustomerComment" name="comment" rows="4" cols="50">

                </textArea>
                <input class="btn btn-primary" type="submit" value="@Resources.Views.Basket.Index.AddCustomerComment" 
                       asp-action="AddCustomerComment" asp-route-orderId="@Model.Id">
            </form>
        </div>
        <div style="text-align: right">
            @Resources.CommonCrud.OrderTotalCost:
            @Html.DisplayFor(x => Model.FoodCost)@Resources.CommonCrud.Currency
        </div>
        <hr>
        <div>
            <form asp-action="SubmitOrder">
                <label for="payInRestaurant">@Resources.Views.Basket.Index.PayInRestaurant</label>
                <input type="checkbox" name="payInRestaurant" id="payInRestaurant" value="true">
                <br>
                
                <label for="cardNumber">@Resources.Views.Basket.Index.BankCardNumber</label>:
                <input type="text" id="cardNumber" name="cardNumber">
                <br>
                <input class="btn btn-primary" type="submit" value="@Resources.Views.Basket.Index.SubmitOrder">
            </form>
        </div>
    </div>
}