@model BLL.App.DTO.Product.ProductsSubCategoryProductData

@{
    ViewData["Title"] = "Create";
}

<h1>@Resources.CommonCrud.Create</h1>

<h4>@Resources.BLL.App.DTO.ProductsSubCategoryProduct.ProductsSubCategoryProductString</h4>
<hr />
<div class="row">
        <form asp-action="Create">
            <input asp-for="ProductId" type="hidden">
            <input asp-for="ProductsSubCategoryId" type="hidden">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsSelectedOnDefault" class="control-label"></label>
                <input asp-for="IsSelectedOnDefault" class="form-control"/>
                <span asp-validation-for="IsSelectedOnDefault" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Resources.CommonCrud.Create" class="btn btn-primary"/>
            </div>
        </form>
</div>

<div>
    <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.ProductId">@Resources.CommonCrud.BackToProduct</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
