@model BLL.App.DTO.Product.ProductsSubCategoryProductData

@{
    ViewData["Title"] = "Edit";
}

<h1>@Resources.CommonCrud.Edit</h1>

<h4>@Resources.BLL.App.DTO.ProductsSubCategoryProduct.ProductsSubCategoryProductString</h4>
<hr />
<div class="row">
    <div class="col-md">
        <form asp-action="Edit">
            <input asp-for="ProductId" type="hidden">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsSelectedOnDefault" class="control-label"></label>
                <input asp-for="IsSelectedOnDefault" class="form-control"/>
                <span asp-validation-for="IsSelectedOnDefault" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Resources.CommonCrud.Save" class="btn btn-primary"/>
            </div>
             
            <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.ProductId">@Resources.CommonCrud.BackToProduct</a>
        </form>
    </div>
    <hr />
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}