﻿@using BLL.App.DTO.Archive
@using Domain.App
@model BLL.App.DTO.Archive.ArchivedOrderWorkerView

<h4>@Model.RestaurantName</h4>

<div class="container">
    <div class="row">
        <div class="col-2">
            <div>
                <a asp-action="Index" asp-route-restaurantId="@Model.RestaurantId">@Resources.Views.Shared._Layout.ActiveOrders</a>
            </div>
            <div>
                <a asp-action="Ready" asp-route-restaurantId="@Model.RestaurantId">@Resources.Views.Shared._Layout.ReadyOrders</a>
            </div>
            <div style="background-color: #EEEEED">
                <a asp-action="Completed" asp-route-restaurantId="@Model.RestaurantId">@Resources.Views.Shared._Layout.CompletedOrders</a>
            </div>
        </div>
        <div class="col-10">
            @foreach (var order in Model.Orders ?? new List<ArchivedOrderWorker>())
            {
                <h6>@Html.DisplayNameFor(x => order.OrderAppUsers):</h6>
                @foreach (var user in order.OrderAppUsers)
                {
                    <div>
                        @Html.DisplayFor(x => user.FullName)
                    </div>
                }
                <div>
                    @Html.DisplayNameFor(x => order.SubmitTime):
                    @Html.DisplayFor(x => order.SubmitTime)
                </div>
                <div>
                    @Html.DisplayNameFor(x => order.EstimatedCompleteTime):
                    @Html.DisplayFor(x => order.EstimatedCompleteTime)
                </div>
                <div>
                    @Html.DisplayNameFor(x => order.ActualCompleteTime):
                    @Html.DisplayFor(x => order.ActualCompleteTime)
                </div>
                <div>
                    @Html.DisplayNameFor(x => order.OrderHandedOver):
                    @Html.DisplayFor(x => order.OrderHandedOver)
                </div>
                @foreach (var product in order.ProductsInOrder)
                {
                    <div>
                        <h6>@Html.DisplayFor(x => product.Name)</h6>
                        @for (var i = 0; i < product.SubProducts?.Count; i++)
                        {
                            var subProduct = product.SubProducts[i];
                        
                            <div>
                                @if (i == 0 || product.SubProducts[i - 1].SubCategoryName != subProduct.SubCategoryName)
                                {
                                    <div>
                                        <h6>@Html.DisplayFor(x => subProduct.SubCategoryName):</h6>
                                    </div>
                                }
                                
                                @Html.DisplayFor(x => subProduct.Name)
                                @if (subProduct.Price != 0)
                                {
                                    <text> - @Html.DisplayFor(x => subProduct.Price)@Resources.CommonCrud.Currency</text>
                                }
                            </div>
                        }
                        <div style="text-align: right">
                            <div>
                                @Html.DisplayNameFor(x => product.OneProductPrice):
                                @Html.DisplayFor(x => product.OneProductPrice)@Resources.CommonCrud.Currency
                            </div>
                            <div>
                                @Html.DisplayNameFor(x => product.Amount):
                                @Html.DisplayFor(x => product.Amount)
                            </div>
                        </div>
                    </div>
                    <hr>
                }
                if (order.CustomerComment != null)
                {
                    <div>
                        @Html.DisplayNameFor(x => order.CustomerComment):
                        <br>
                        @Html.DisplayFor(x => order.CustomerComment)
                    </div>
                }
                if (order.CustomerOrderReviewComment != null)
                {
                    <div>
                        @Html.DisplayNameFor(x => order.CustomerOrderReviewComment):
                        <br>
                        @Html.DisplayFor(x => order.CustomerOrderReviewComment)
                    </div>
                }
                if (order.OrderRating != null)
                {
                    <div>
                        @Html.DisplayNameFor(x => order.OrderRating):
                        @Html.DisplayFor(x => order.OrderRating)/5
                    </div>
                }
            
                <div>
                    <form method="post">
                        <label for="comment">@Html.DisplayNameFor(x => order.Comment):</label>
                        <textarea id="comment" name="comment" rows="4" cols="50">@order.Comment</textarea>
                        <input type="submit" class="btn btn-primary" value="@Resources.CommonCrud.Save" 
                               asp-action="AddCommentToArchivedOrder" asp-route-orderId="@order.Id">
                    </form>
                </div>
                <div style="text-align: right">
                    <div>
                        @Html.DisplayNameFor(x => order.AmountPaid):
                        @Html.DisplayFor(x => order.AmountPaid)@Resources.CommonCrud.Currency
                    </div>
                    @Resources.CommonCrud.OrderTotalCost:
                    @Html.DisplayFor(x => order.FoodCost)@Resources.CommonCrud.Currency
                </div>
                <hr>
            }
        </div>
    </div>
</div>