﻿@using BLL.App.DTO.Order
@model BLL.App.DTO.Order.OrderWorkerView

<h4>@Model.RestaurantName</h4>

<div class="container">
    <hr>
    <div class="row">
        <div class="col-2">
            <div style="background-color: #EEEEED">
                <a asp-action="Index" asp-route-restaurantId="@Model.RestaurantId">@Resources.Views.Shared._Layout.ActiveOrders</a>
            </div>
            <div>
                <a asp-action="Ready" asp-route-restaurantId="@Model.RestaurantId">@Resources.Views.Shared._Layout.ReadyOrders</a>
            </div>
            <div>
                <a  asp-action="Completed" asp-route-restaurantId="@Model.RestaurantId">@Resources.Views.Shared._Layout.CompletedOrders</a>
            </div>
        </div>
        <div class="col-10">
            @foreach (var order in Model.Orders ?? new List<OrderWorker>())
            {
                <form method="post">
                    <div style="text-align: right">
                        <input type="submit" class="btn btn-primary" value="@Resources.Areas.Worker.Index.OrderToReady" asp-action="ChangeOrderToReady" asp-route-orderId="@order.Id">
                    </div>
                </form>
                <h6>@Html.DisplayNameFor(x => order.OrderAppUsers):</h6>
                @foreach (var user in order.OrderAppUsers)
                {
                    <div>
                        @Html.DisplayFor(x => user.FullName)
                    </div>
                    
                }
                <div>
                    @Html.DisplayNameFor(x => order.SubmitTime):
                    @order.SubmitTime.ToString("HH:mm")
                    <form method="post">
                        <label for="newCompleteTime">@Html.DisplayNameFor(x => order.CompletedBy):</label>
                        <input type="text" value="@order.CompletedBy.ToString("HH:mm")" id="newCompleteTime" name="newCompleteTime">
                        <input type="submit" class="btn btn-primary" value="@Resources.CommonCrud.Save" asp-action="ChangeCompleteTime" asp-route-orderId="@order.Id">
                    </form>
                </div>
                @foreach (var product in order.ProductsInOrder)
                {
                    <div>
                        <h6>@Html.DisplayFor(x => product.Name)</h6>
                      
                        @for (var i = 0; i < product.SubProducts?.Count; i++)
                        {
                            var subProduct = product.SubProducts[i];

                            <div>
                                @if (i == 0 || product.SubProducts[i - 1].SubCategoryName != subProduct.SubCategoryName)
                                {
                                    <div>
                                        <h6>@Html.DisplayFor(x => subProduct.SubCategoryName):</h6>
                                    </div>
                                }
                                
                                @Html.DisplayFor(x => subProduct.Name)
                                @if (subProduct.Price != 0)
                                {
                                    <text> - @Html.DisplayFor(x => subProduct.Price)@Resources.CommonCrud.Currency</text>
                                }
                            </div>
                        }
                        <div style="text-align: right">
                            <div>
                                @Html.DisplayNameFor(x => product.OneProductPrice):
                                @Html.DisplayFor(x => product.OneProductPrice)@Resources.CommonCrud.Currency
                            </div>
                            <div>
                                @Html.DisplayNameFor(x => product.Amount):
                                @Html.DisplayFor(x => product.Amount)
                            </div>
                        </div>
                    </div>
                    <hr>
                }
                <div @Html.Raw(order.CustomerComment == null ? "hidden='hidden'" : "")>
                    @Html.DisplayNameFor(x => order.CustomerComment):
                    <br>
                    @Html.DisplayFor(x => order.CustomerComment)
                </div>
                <div style="text-align: right">
                    <div>
                        @Html.DisplayNameFor(x => order.AmountPaid):
                        @Html.DisplayFor(x => order.AmountPaid)@Resources.CommonCrud.Currency
                    </div>
                    @Resources.CommonCrud.OrderTotalCost:
                    @Html.DisplayFor(x => order.FoodCost)@Resources.CommonCrud.Currency
                </div>
                <hr>
            }
        </div>
    </div>
</div>