@page
@using com.akaver.Base.Resources.Areas.Identity.Pages.Account
@model ConfirmEmailModel
@{
    ViewData["Title"] = ConfirmEmail.EmailConfirm;
}

<h1>@ViewData["Title"]</h1>

<h4>@Model.StatusMessage</h4>
