﻿@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = com.akaver.Base.Resources.Areas.Identity.Pages.Account.ForgotPasswordConfirmation.ForgotPasswordConfirm;
}

<h1>@com.akaver.Base.Resources.Areas.Identity.Pages.Account.ForgotPasswordConfirmation.ForgotPasswordConfirm</h1>
<p>
    @com.akaver.Base.Resources.Areas.Identity.Pages.Account.ForgotPasswordConfirmation.PleaseCheckEmail
</p>

