@page
@using com.akaver.Base.Resources.Areas.Identity.Pages.Account
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = ResendEmailConfirmation.ResendEmailConfirm;
}

<h1>@ViewData["Title"]</h1>
<h4>@ResendEmailConfirmation.EnterYourEmail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email">@ResendEmailConfirmation.Email</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@ResendEmailConfirmation.Resend</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
