@model BLL.App.DTO.Product.ProductCreate

@{
    ViewData["Title"] = "Create";
}

<h1>@Resources.CommonCrud.Create</h1>

<h4>@Resources.BLL.App.DTO.Product.ProductString</h4>
<hr />
<div class="row">
        <form asp-action="Create">
            <input asp-for="MenuId" type="hidden">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control"/>
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAlwaysPurchasable"/> 
                    @Html.DisplayNameFor(model => model.IsAlwaysPurchasable)
                </label>
            </div>
            
            <div class="form-group">
                <label asp-for="MenuCategories" class="control-label"></label>
                <select asp-for="MenuCategoryId">
                    @foreach (var category in Model.MenuCategories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="@Resources.CommonCrud.Create" class="btn btn-primary"/>
            </div>
        </form>
</div>

<div>
    <a asp-controller="Menu" asp-action="Edit" asp-route-id="@Model.MenuId">@Resources.CommonCrud.BackToMenu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
