@model BLL.App.DTO.Product.ProductEdit

@{
    ViewData["Title"] = "Delete";
}

<h1>@Resources.CommonCrud.Delete</h1>

<h3>@Resources.CommonCrud.DeleteAreYouSureMessage</h3>
<div>
    <h4>@Resources.BLL.App.DTO.Product.ProductString</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Picture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAlwaysPurchasable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAlwaysPurchasable)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Resources.CommonCrud.Delete" class="btn btn-danger" /> |
        <a asp-controller="Menu" asp-action="Edit" asp-route-id="@Model.MenuId">@Resources.CommonCrud.BackToMenu</a>
    </form>
</div>
