@model BLL.App.DTO.Product.ProductEdit

@{
    ViewData["Title"] = "Edit";
}

<h1>@Resources.CommonCrud.Edit</h1>

<h4>@Resources.BLL.App.DTO.Product.ProductString</h4>
<hr />
<div class="row">
    <div class="col-md">
        <form asp-action="Edit">
            <input asp-for="MenuId" type="hidden">
            <input asp-for="Id" type="hidden">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control"/>
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAlwaysPurchasable"/> 
                    @Html.DisplayNameFor(model => model.IsAlwaysPurchasable)
                </label>
            </div>
                    
            @if(Model.MenuCategories != null){
                <div class="form-group">
                    <label asp-for="MenuCategories" class="control-label"></label>
                    <select asp-for="MenuCategoryId">
                        @foreach (var category in Model.MenuCategories)
                        {
                            <option
                                selected="@(Model.MenuCategoryId.Equals(category.Id) ? "selected" : null)"
                                value="@category.Id">@category.Name
                            </option>
                        }
                    </select>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="@Resources.CommonCrud.Save" class="btn btn-primary"/>
                <a asp-controller="Menu" asp-action="Edit" asp-route-id="@Model.MenuId">@Resources.CommonCrud.BackToMenu</a>
            </div>
            <hr>
        </form>
    </div>
    <div class="col-md">
        <h4>@Resources.BLL.App.DTO.ProductsSubCategory.ProductsSubCategories:</h4>
        <hr>
        <div style="text-align: right"><a asp-controller="SubCategory" asp-action="Create" asp-route-productId="@Model.Id">
                @Resources.CommonCrud.CreateNew @Resources.BLL.App.DTO.ProductsSubCategory.ProductsSubCategoryString
            </a>
        </div>
        @if (Model.ProductsSubCategories != null)
        {
            @for(var i = 0; i < Model.ProductsSubCategories.Count; i++)
            {
                <div>
                    <h5>
                        @Html.DisplayFor(x => Model.ProductsSubCategories[i].Name)
                        <span @Html.Raw(i.Equals(0) ? "hidden='hidden'" : "")>
                            |
                            <a asp-controller="SubCategory" asp-action="MoveCategory" asp-route-menuId="@Model.Id"
                               asp-route-id="@Model.ProductsSubCategories[i].Id" asp-route-moveUp="true">
                                @Resources.CommonCrud.Up
                            </a>
                        </span>
                        <span @Html.Raw(i.Equals(Model.ProductsSubCategories.Count - 1) ? "hidden='hidden'" : "")>
                            |
                            <a asp-controller="SubCategory" asp-action="MoveCategory" asp-route-menuId="@Model.Id"
                               asp-route-id="@Model.ProductsSubCategories[i].Id" asp-route-moveUp="false">
                                @Resources.CommonCrud.Down
                            </a>
                        </span>
                        |
                        <a asp-controller="SubCategory" asp-action="Edit"
                           asp-route-id="@Model.ProductsSubCategories[i].Id">@Resources.CommonCrud.Edit</a> |
                        <a asp-controller="SubCategory" asp-action="Delete"
                           asp-route-id="@Model.ProductsSubCategories[i].Id">@Resources.CommonCrud.Delete</a>
                    </h5>
                </div>
                <div>
                    @Html.DisplayNameFor(x => Model.ProductsSubCategories[i].MandatoryItemCount):
                    @Html.DisplayFor(x => Model.ProductsSubCategories[i].MandatoryItemCount)
                    |
                    @Html.DisplayNameFor(x => Model.ProductsSubCategories[i].MaxItemCount):
                    @Html.DisplayFor(x => Model.ProductsSubCategories[i].MaxItemCount)
                </div>
                if (Model.ProductsSubCategories[i].SubCategoryProducts != null)
                {
                    @for (var j = 0; j < Model.ProductsSubCategories[i].SubCategoryProducts!.Count; j++)
                    {
                        <div>
                            <h6>
                                @Html.DisplayFor(x => Model.ProductsSubCategories[i].SubCategoryProducts![j].Name)
                            </h6>
                            @Html.DisplayFor(x => Model.ProductsSubCategories[i].SubCategoryProducts![j].Price)
                            @Resources.CommonCrud.Currency
                            <span @Html.Raw(j.Equals(0) ? "hidden='hidden'" : "")>
                                |
                                <a asp-controller="SubProduct" asp-action="MoveSubProduct" asp-route-menuId="@Model.Id"
                                   asp-route-id="@Model.ProductsSubCategories[i].SubCategoryProducts![j].Id" asp-route-moveUp="true">
                                    @Resources.CommonCrud.Up
                                </a>
                            </span>
                            <span @Html.Raw(j.Equals(Model.ProductsSubCategories[i].SubCategoryProducts!.Count - 1) ? "hidden='hidden'" : "")>
                                |
                                <a asp-controller="SubProduct" asp-action="MoveSubProduct" asp-route-menuId="@Model.Id"
                                   asp-route-id="@Model.ProductsSubCategories[i].SubCategoryProducts![j].Id" asp-route-moveUp="false">
                                    @Resources.CommonCrud.Down
                                </a>
                            </span>
                            |
                            <a asp-controller="SubProduct" asp-action="Edit"
                               asp-route-id="@Model.ProductsSubCategories[i].SubCategoryProducts![j].Id">@Resources.CommonCrud.Edit</a> |
                            <a asp-controller="SubProduct" asp-action="Delete"
                               asp-route-id="@Model.ProductsSubCategories[i].SubCategoryProducts![j].Id">@Resources.CommonCrud.Delete</a>
                            <br/>
                            @Html.DisplayNameFor(x => Model.ProductsSubCategories[i].SubCategoryProducts![j].IsSelectedOnDefault)
                            @Html.DisplayFor(x => Model.ProductsSubCategories[i].SubCategoryProducts![j].IsSelectedOnDefault)
                            <br/>
                            @if (Model.ProductsSubCategories[i].SubCategoryProducts![j].Description != null)
                            {
                                <div>
                                    @Html.DisplayNameFor(x => Model.ProductsSubCategories[i].SubCategoryProducts![j].Description):
                                    @Html.DisplayFor(x => Model.ProductsSubCategories[i].SubCategoryProducts![j].Description)
                                </div>
                            }
                        </div>
                    }
                }
                <a asp-controller="SubProduct" asp-action="Create" asp-route-subCategoryId="@Model.ProductsSubCategories[i].Id">
                    @Resources.CommonCrud.CreateNew @Resources.BLL.App.DTO.ProductsSubCategoryProduct.ProductsSubCategoryProductString
                </a>
                <hr>
            }
        }
    </div>
    <hr />
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}