﻿@using Microsoft.AspNetCore.Identity
@using Domain.App.Identity
@using System.Security.Claims
@inject SignInManager<AppUser> _signInManager
@inject UserManager<AppUser> _userManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@Resources.Views.Shared._Layout.WebApp</a>
            @* <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" *@
            @*         aria-expanded="false" aria-label="Toggle navigation"> *@
            @*     <span class="navbar-toggler-icon"></span> *@
            @* </button> *@
           
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Resources.Views.Shared._Layout.Users
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="Index">@Resources.Views.Shared._Layout.Users</a>
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Role" asp-action="Index">@Resources.Views.Shared._Layout.Roles</a>
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Company" asp-action="Index">@Resources.Views.Shared._Layout.Companies</a>
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Restaurant" asp-action="Index">@Resources.Views.Shared._Layout.Restaurants</a>
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Menu" asp-action="Index">@Resources.Views.Shared._Layout.Menus</a>
                            </div>
                        </li>
                    }
                    @if (User.IsInRole("Company Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="Index">@Resources.Views.Shared._Layout.Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="CompanyAdmin" asp-controller="Company" asp-action="Index">@Resources.Views.Shared._Layout.Company</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="CompanyAdmin" asp-controller="Restaurant" asp-action="Index">@Resources.Views.Shared._Layout.Restaurants</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Menu" asp-action="Index">@Resources.Views.Shared._Layout.Menus</a>
                        </li>
                    }
                    @if (User.IsInRole("Restaurant Worker"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Worker" asp-controller="Restaurant" asp-action="Index">@Resources.Views.Shared._Layout.Orders</a>
                    </li>
                    }
                    
                    
                </ul>
                @if (_signInManager.IsSignedIn(User) && ((ClaimsIdentity) User.Identity!).Claims.All(c => c.Type != ClaimTypes.Role))
                {
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Resources.Views.Shared._Layout.MyOrders
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="nav-link text-dark" asp-controller="Order" asp-action="Index">@Resources.Views.Shared._Layout.ActiveOrders</a>
                                    <a class="nav-link text-dark" asp-controller="Order" asp-action="Completed">@Resources.Views.Shared._Layout.CompletedOrders</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Basket" asp-action="Index">@Resources.Views.Shared._Layout.MyBasket</a>
                            </li>
                        </ul>
                }
                <ul class="navbar-nav">
                    <partial name="_LoginPartial"/>
                    <partial name="_LanguageSelection"/>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - @Resources.Views.Shared._Layout.WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">@Resources.Views.Shared._Layout.Privacy</a>
        @(DateTime.Now.ToShortDateString())
        @(123.45.ToString())
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>