﻿@model IEnumerable<BLL.App.DTO.Restaurant.RestaurantIndex>

@{
    ViewData["Title"] = "Index";
}
<h1>@Resources.BLL.App.DTO.Restaurant.Restaurants</h1>

<p>
    <a asp-area="Admin" asp-controller="Restaurant" asp-action="Create">@Resources.CommonCrud.CreateNew</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPublic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateJoined)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkerCount)
        </th>
    </tr>
    </thead>
    <tbody>
  
        @foreach (var item in Model!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @(item.IsPublic ? "Yes" : "No")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateJoined)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkerCount)
                </td>
                <td>
                    <a asp-area="Admin" asp-controller="Restaurant" asp-action="Edit" asp-route-id="@item.Id">@Resources.CommonCrud.Edit</a> |
                    <a asp-area="Admin" asp-controller="Restaurant" asp-action="Details" asp-route-id="@item.Id">@Resources.CommonCrud.Details</a> |
                    <a asp-area="Admin" asp-controller="Restaurant" asp-action="Delete" asp-route-id="@item.Id">@Resources.CommonCrud.Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>