@model BLL.App.DTO.Menu.MenuCategoryData


<h1>@Resources.CommonCrud.Edit</h1>

<h4>@Resources.BLL.App.DTO.MenuCategory.CategoryString</h4>
<hr />

<div class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-action="Edit">
        <input type="hidden" asp-for="Id"/>
        <input type="hidden" asp-for="MenuId"/>
        <div class="col-md">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-md">
            <input value="@Resources.CommonCrud.Save" type="submit" class="btn btn-primary"/>
            <a asp-controller="Menu" asp-action="Edit" asp-route-id="@Model.MenuId">@Resources.CommonCrud.BackToMenu</a>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}