﻿@model IList<BLL.App.DTO.Restaurant.RestaurantOnlyName>

<div>
    <h5>@Resources.BLL.App.DTO.Restaurant.Restaurants</h5>
    
    @foreach (var restaurant in Model)
    {
        <div>
            <a asp-area="Worker" asp-controller="Order" asp-action="Index"
               asp-route-restaurantId="@restaurant.Id">@restaurant.Name</a>
        </div>
    }
</div>