@model BLL.App.DTO.Identity.AppRole

@{
    ViewData["Title"] = "Delete";
}

<h1>@Resources.CommonCrud.Delete</h1>

<h3>@Resources.CommonCrud.DeleteAreYouSureMessage</h3>
<div>
    <h4>AppRole</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Resources.CommonCrud.Delete" class="btn btn-danger" /> |
        <a asp-action="Index">@Resources.CommonCrud.BackToList</a>
    </form>
</div>
