@model List<BLL.App.DTO.Identity.AppRole>

@{
    ViewData["Title"] = "Index";
}

<h1>@Resources.BLL.App.DTO.AppRole.Roles</h1>

<p>
    <a asp-action="Create">@Resources.CommonCrud.CreateNew</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Resources.CommonCrud.Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Resources.CommonCrud.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
